<a href="https://colab.research.google.com/github/changyuuooh/introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = range(5)

In [2]:
print(type(i))

<class 'range'>

In [3]:
print(i)

range(0, 5)

In [4]:
print(list(i))

[0, 1, 2, 3, 4]

In [6]:
a = range(3 , 8)
print(list(a))

[3, 4, 5, 6, 7]

In [7]:
b = range(-2 , 4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [9]:
c = range(3 , 8 ,1)
print(list(c))

[3, 4, 5, 6, 7]

In [10]:
d = range(3 , 8 ,2)
print(list(d))

[3, 5, 7]

In [11]:
e = range(8 , 3 , -1)
print(list(e))

[8, 7, 6, 5, 4]

In [12]:
f = range(0 , 9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
g = range(1 , 10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
h = range(1 , 10 , 2)
print(list(h))

[1, 3, 5, 7, 9]

In [15]:
i = range(10 , 1 ,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [16]:
for n in range(3):
    print(n)

0
1
2

In [17]:
for n in range(10):
    print(n , end=',')

0,1,2,3,4,5,6,7,8,9,

In [18]:
for n in range(0 , 10 ,2):
    print(n , end=',')

0,2,4,6,8,

In [37]:
test = int(input('請輸入一個正整數'))
for k in range(1 , test+1):
    print(k , end = ' ')

請輸入一個正整數12
1 2 3 4 5 6 7 8 9 10 11 12

In [38]:
test2 = int(input('請輸入一個正整數'))
for a in range(1 , test2+1):
    print(a , end = ' ')

請輸入一個正整數5
1 2 3 4 5

In [28]:
for n in range(3):
    print(n , end=',')

0,1,2,

In [32]:
sum = 0
for n in range(3):
    sum = sum+n
print(sum)

3

In [33]:
sum = 0
for m in range(10 , 1 , -2):
    sum = sum+m
print(sum)

30

In [43]:
c = int(input('請輸入一個正整數:'))
sum = 0
for b in range(1 , c+1):
    sum = sum+b
print('1到',c,'的整數和為',sum)

請輸入一個正整數:10
1到 10 的整數和為 55

In [44]:
test3 = int(input('請輸入一個正整數:'))
sum = 0
for x in range(1 , test3+1):
    sum = sum+x
print('1到',test3,'的正整數為',sum)

請輸入一個正整數:50
1到 50 的正整數為 1275

In [45]:
test4 = int(input('請輸入一個正整數:'))
sum = 0
for n in range(1 , test4+1):
    sum = sum+n
    print('1到',n,'的整數和為:',sum)

請輸入一個正整數:10
1到 1 的整數和為: 1
1到 2 的整數和為: 3
1到 3 的整數和為: 6
1到 4 的整數和為: 10
1到 5 的整數和為: 15
1到 6 的整數和為: 21
1到 7 的整數和為: 28
1到 8 的整數和為: 36
1到 9 的整數和為: 45
1到 10 的整數和為: 55