<a href="https://colab.research.google.com/github/changyuuooh/introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 0
result = 0
while i <= 50:
    if i % 2 == 0:
        result += i
    i += 1
print('0~50的偶數和結果是%d' % result)

0~50的偶數和結果是650

In [2]:
i = 0
result = 0
while i <= 50:
    if i % 2 != 0:
        result += i
    i += 1
print('0~50的偶數和結果是%d' % result)

0~50的偶數和結果是625

In [3]:
n = int(input('請輸入正整數: '))
for i in range(1,n+1):
    for j in range(i,n+1):
        print('*',end='')
    print()

請輸入正整數: 3
***
**
*

In [5]:
sum = 0
for i in range(0,101):
    if(i%3==0 or i%7==0):
        sum += i
print('數值1~100中,所有是3或7倍數的數之總和=',sum)

數值1~100中,所有是3或7倍數的數之總和= 2208

In [7]:
p = 1
counter = 0
n = int(input('請輸入整數:'))
print(n,'的因數有',end=' ')
while (p<=n):
    if (n%p==0):
        print(p,end=' ')
        counter +=1
    p+=1
print()
if (counter==2):
    print(n,'是質數')
else:
    print(n,'不是質數')

請輸入整數:3
3 的因數有 1 3
3 是質數

In [9]:
list1 = [1,2,3,4,5]

In [10]:
list1

[1, 2, 3, 4, 5]

In [11]:
list2 =['香蕉','蘋果','橘子']

In [12]:
list2

['香蕉', '蘋果', '橘子']

In [14]:
list3 =[1,'香蕉', True]

In [15]:
list3

[1, '香蕉', True]

In [17]:
print(list1)

[1, 2, 3, 4, 5]

In [19]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [20]:
list4=['香蕉','蘋果','橘子']

In [22]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [23]:
print(list4[3])

IndexError: ignored

In [25]:
print(list4[-1])
print(list4[-2])
print(list4[-3])

橘子
蘋果
香蕉

In [26]:
list5=[['tom','1234'],['mary','abcd'],['david','5678']]

In [28]:
print(list5[0][0])
print(list5[0][1])

tom
1234

In [37]:
print(list5[1][0])
print(list5[1][1])

mary
abcd

In [30]:
print(list5[2][0])
print(list5[2][1])

david
5678

In [36]:
list6=['85分','79分','93分']
print('國文成績:',list6[0])
print('數學成績:',list6[1])
print('英文成績:',list6[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [38]:
list7 = [1,2,3,4,5]

In [39]:
print(list7[0])

1

In [40]:
list7[0]=9

In [41]:
print(list7)

[9, 2, 3, 4, 5]

In [43]:
list8 = ['香蕉','蘋果','橘子']

In [44]:
for s in list8:
    print(s,end=',')

香蕉,蘋果,橘子,

In [46]:
list9 = [123,'apple', True]
for a in list9:
    print(a)

123
apple
True

In [47]:
scores = [85,79,93]

In [48]:
print(len(scores))

3

In [50]:
scores = [85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

homework

In [63]:
grades = ['國文成績:85分','數學成績:79分','英文成績:93分']
for n in range(len(grades)):
    print(grades[n])

國文成績:85分
數學成績:79分
英文成績:93分

In [71]:
a = [['編號:1','姓名:Tom'],['編號:2','姓名:Mary'],['編號:3','姓名:Tony']]
for m in range(len(a)):
    print(a[m])

['編號:1', '姓名:Tom']
['編號:2', '姓名:Mary']
['編號:3', '姓名:Tony']

In [75]:
a = ['編號:1','編號:2','編號:3']
b = ['姓名:Tom','姓名:Mary','姓名:Tony']
for j in range(len(a) and len(b)):
    print(a[j],b[j])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony